/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
body .navbar {
  width: 100%;
  display: flex;
  position: absolute;
  padding: 0.7rem 3rem;
}
body .navbar.bg-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
body .navbar a {
  color: #ffaaad;
  transition: 0.3s ease;
}
body .navbar a:hover {
  color: #a7fdfe;
}
body .navbar .logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
}
body .navbar .logo span {
  color: rgb(253, 29, 29);
  background: linear-gradient(180deg, rgb(229, 0, 228) 0%, rgb(253, 29, 29) 70%, rgb(241, 111, 9) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
body .navbar .logo:hover {
  color: #a7fdfe;
}
body .navbar .logo img {
  width: 40px;
}
body .navbar .nav-links {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-top: 0.5rem;
}
@media screen and (max-width: 991px) {
  body .navbar .nav-links {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
}

.main {
  display: flex;
  width: 100wv;
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .main {
    flex-direction: column;
  }
}
.main .headphones-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .headphones-container img {
  width: 300px;
}
@media screen and (max-width: 1200px) {
  .main .headphones-container img {
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .main .headphones-container img {
    width: 200px;
  }
}
@media screen and (max-height: 680px) {
  .main .headphones-container img {
    width: 150px;
  }
}
@media screen and (max-height: 500px) {
  .main .headphones-container img {
    display: none;
  }
}
.main .pink-side {
  flex: 1;
  background-color: #ffaaad;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.5s ease;
}
@media screen and (max-width: 992px) {
  .main .pink-side {
    justify-content: center;
    text-align: center;
  }
}
.main .pink-side.dark {
  background-color: #e4858d;
}
.main .pink-side h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
  padding-left: 10%;
}
@media screen and (max-width: 992px) {
  .main .pink-side h2 {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .main .pink-side h2 {
    font-size: 4rem;
  }
}
@media screen and (max-height: 500px) {
  .main .pink-side h2 {
    font-size: 2rem;
    padding-top: 3.5rem;
  }
}
.main .blue-side {
  flex: 1;
  background-color: #a7fdfe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .blue-side .player {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 15%;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player {
    width: 400px;
    margin-left: 20%;
  }
}
@media screen and (max-width: 1080px) {
  .main .blue-side .player {
    width: 350px;
  }
}
@media screen and (max-width: 992px) {
  .main .blue-side .player {
    margin-left: 0;
    padding-top: 1.5rem;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .main .blue-side .player {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .main .blue-side .player {
    width: 80%;
  }
}
@media screen and (max-width: 420px) {
  .main .blue-side .player {
    width: 90%;
  }
}
.main .blue-side .player h5 {
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player h5 {
    font-size: 1.2rem;
  }
}
.main .blue-side .player p {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player p {
    font-size: 1rem;
  }
}
.main .blue-side .player .music-waves {
  width: 500px;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player .music-waves {
    width: 400px;
  }
}
@media screen and (max-width: 1080px) {
  .main .blue-side .player .music-waves {
    width: 350px;
  }
}
@media screen and (max-width: 992px) {
  .main .blue-side .player .music-waves {
    width: 100%;
  }
}
.main .blue-side .player .player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}
.main .blue-side .player .player-controls img {
  width: 70px;
  cursor: pointer;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player .player-controls img {
    width: 50px;
  }
}
.main .blue-side .player .player-controls .spinner {
  width: 70px;
  height: 70px;
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player .player-controls .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main .blue-side .player .player-controls .arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  cursor: pointer;
}
.main .blue-side .player .player-controls .arrow-container .arrow {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}
.main .blue-side .player .player-controls .arrow-container p {
  padding: 7px 5px 0px 5px;
}/*# sourceMappingURL=global.css.map */