/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
body .navbar {
  width: 100%;
  display: flex;
  position: absolute;
  padding: 1rem 3rem;
  justify-content: space-between;
}
body .navbar a {
  color: #333;
  transition: 0.3s ease;
}
body .navbar a:hover {
  color: #ffaaad;
}
body .navbar .logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 1.8rem;
}
body .navbar .logo span {
  color: rgb(253, 29, 29);
  background: linear-gradient(180deg, rgb(229, 0, 228) 0%, rgb(253, 29, 29) 70%, rgb(241, 111, 9) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
body .navbar .logo:hover {
  color: #a7fdfe;
}
body .navbar .logo img {
  width: 50px;
}
body .navbar .nav-links {
  display: flex;
  gap: 20px;
  padding-top: 0.5rem;
}

.main {
  display: flex;
  width: 100wv;
  height: 100vh;
}
.main .headphones-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .headphones-container img {
  width: 300px;
}
.main .pink-side {
  flex: 1;
  background-color: #ffaaad;
  display: flex;
  justify-content: left;
  align-items: center;
}
.main .pink-side h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
  padding-left: 10%;
}
.main .blue-side {
  flex: 1;
  background-color: #a7fdfe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .blue-side .player {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 15%;
}
.main .blue-side .player h5 {
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}
.main .blue-side .player p {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}
.main .blue-side .player .music-waves {
  width: 500px;
}
.main .blue-side .player .player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}
.main .blue-side .player .player-controls img {
  width: 70px;
  cursor: pointer;
}
.main .blue-side .player .player-controls .arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  cursor: pointer;
}
.main .blue-side .player .player-controls .arrow-container .arrow {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}
.main .blue-side .player .player-controls .arrow-container p {
  padding: 7px 5px 0px 5px;
}/*# sourceMappingURL=global.css.map */