/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
body .navbar {
  width: 100%;
  display: flex;
  position: absolute;
  padding: 0.7rem 8rem 0.7rem 3rem;
}
@media screen and (max-width: 991px) {
  body .navbar {
    padding: 0.7rem 3rem 0.7rem 3rem;
  }
}
@media screen and (max-width: 500px) {
  body .navbar {
    padding: 0.7rem 2rem 0.7rem 2rem;
  }
}
body .navbar.bg-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
body .navbar a {
  color: #ffaaad;
  transition: 0.3s ease;
}
body .navbar a:hover {
  color: #a7fdfe;
}
body .navbar .logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
}
body .navbar .logo span {
  color: rgb(253, 29, 29);
  background: linear-gradient(180deg, rgb(229, 0, 228) 0%, rgb(253, 29, 29) 70%, rgb(241, 111, 9) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
body .navbar .logo:hover {
  color: #a7fdfe;
}
body .navbar .logo img {
  width: 40px;
}
body .navbar .nav-links {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 30px;
  padding-top: 0.5rem;
}
@media screen and (max-width: 991px) {
  body .navbar .nav-links {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
}
body .profile-dropdown {
  position: absolute;
  top: 15px;
  right: 3rem;
  display: inline-block;
  padding: 0 20px;
  z-index: 2000;
}
@media screen and (max-width: 991px) {
  body .profile-dropdown {
    right: 7rem;
  }
}
@media screen and (max-width: 500px) {
  body .profile-dropdown {
    right: 5rem;
  }
}
body .profile-dropdown .profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
body .profile-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 6px;
  z-index: 1000;
}
body .profile-dropdown .dropdown-menu a {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  color: #333;
  border: none;
  cursor: pointer;
  text-align: left;
}
body .profile-dropdown .dropdown-menu a:hover {
  color: #ffaaad;
}
body .modal {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1001;
  background-color: rgba(53, 53, 53, 0.6);
}
body .modal form,
body .modal .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  width: 40%;
  min-width: 250px;
  padding: 4rem 2rem;
  max-width: 500px;
  border-radius: 6px;
  box-shadow: 3px 4px 4px #333;
  opacity: 0.85;
}
@media screen and (max-width: 992px) {
  body .modal form,
  body .modal .modal-content {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  body .modal form,
  body .modal .modal-content {
    width: 80%;
  }
}
body .modal form h2,
body .modal .modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
body .modal form h3,
body .modal .modal-content h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
body .modal form .register-message,
body .modal form .log-in-message,
body .modal .modal-content .register-message,
body .modal .modal-content .log-in-message {
  display: none;
  color: green;
}
body .modal form button,
body .modal .modal-content button {
  background-color: #e4858d;
  transition: all 0.5s ease;
  margin-top: 1rem;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}
body .modal form button:hover,
body .modal .modal-content button:hover {
  background-color: #ffaaad;
}
body .modal form label,
body .modal .modal-content label {
  width: 300px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  body .modal form label,
  body .modal .modal-content label {
    width: 90%;
  }
}
body .modal form input,
body .modal .modal-content input {
  padding: 0.5rem;
  width: 300px;
  border: none;
  border-radius: 6px;
  background-color: #b9b9b9;
}
body .modal form input:hover, body .modal form input:active, body .modal form input:focus,
body .modal .modal-content input:hover,
body .modal .modal-content input:active,
body .modal .modal-content input:focus {
  background-color: #e9e9e9;
  border: none;
  outline: none;
  transition: all 0.5s ease;
}
body .modal form input.submit,
body .modal .modal-content input.submit {
  background-color: #e4858d;
  transition: all 0.5s ease;
  margin-top: 1rem;
  padding: 10px;
}
body .modal form input.submit:hover,
body .modal .modal-content input.submit:hover {
  background-color: #ffaaad;
}
@media screen and (max-width: 768px) {
  body .modal form input,
  body .modal .modal-content input {
    width: 90%;
  }
}
body .fa-heart.liked {
  color: red;
}
body .playlist-dropdown-wrapper {
  position: relative;
}
body .playlist-dropdown-wrapper i {
  cursor: pointer;
}
body .playlist-dropdown-wrapper .playlist-dropdown {
  position: absolute;
  top: 25px;
  left: 0;
  background: white;
  color: black;
  border: 1px solid #ccc;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 4px;
  min-width: 120px;
}
body .playlist-dropdown-wrapper .playlist-dropdown p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
}
body .playlist-dropdown-wrapper .playlist-dropdown p:hover {
  background-color: #eee;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .main {
    flex-direction: column;
  }
}
.main .headphones-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .headphones-container img {
  width: 300px;
}
@media screen and (max-width: 1200px) {
  .main .headphones-container img {
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .main .headphones-container img {
    width: 200px;
  }
}
@media screen and (max-height: 680px) {
  .main .headphones-container img {
    width: 150px;
  }
}
@media screen and (max-height: 500px) {
  .main .headphones-container img {
    display: none;
  }
}
.main .pink-side {
  flex: 1;
  background-color: #ffaaad;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.5s ease;
}
@media screen and (max-width: 992px) {
  .main .pink-side {
    justify-content: center;
    text-align: center;
    padding: 0.1rem 0.5rem;
  }
  .main .pink-side.profile-page {
    text-align: left;
    justify-content: flex-start;
  }
}
.main .pink-side.dark {
  background-color: #e4858d;
}
.main .pink-side .go-back-arrow {
  float: left;
  text-align: left;
  width: 95%;
  color: #fff;
  cursor: pointer;
  display: none;
}
.main .pink-side.with-heading {
  flex-direction: column;
  padding-top: 4.5rem;
  flex: 3;
}
.main .pink-side.with-heading h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
}
@media screen and (max-width: 500px) {
  .main .pink-side.with-heading h3 {
    font-size: 1.8rem;
    margin-top: 0.2rem;
  }
}
.main .pink-side h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
  padding-left: 10%;
}
@media screen and (max-width: 992px) {
  .main .pink-side h2 {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .main .pink-side h2 {
    font-size: 4rem;
  }
}
@media screen and (max-height: 500px) {
  .main .pink-side h2 {
    font-size: 2rem;
    padding-top: 3.5rem;
  }
}
.main .blue-side {
  flex: 1;
  background-color: #a7fdfe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .blue-side .player {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 15%;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player {
    width: 400px;
    margin-left: 20%;
  }
}
@media screen and (max-width: 1080px) {
  .main .blue-side .player {
    width: 350px;
  }
}
@media screen and (max-width: 992px) {
  .main .blue-side .player {
    margin-left: 0;
    padding-top: 1.5rem;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .main .blue-side .player {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .main .blue-side .player {
    width: 80%;
  }
}
@media screen and (max-width: 420px) {
  .main .blue-side .player {
    width: 90%;
  }
}
.main .blue-side .player h5 {
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player h5 {
    font-size: 1.2rem;
  }
}
.main .blue-side .player p {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player p {
    font-size: 1rem;
  }
}
.main .blue-side .player .playlist-dropdown p {
  font-size: 1rem;
  padding: 0.2rem;
}
.main .blue-side .player .music-waves {
  width: 500px;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player .music-waves {
    width: 400px;
  }
}
@media screen and (max-width: 1080px) {
  .main .blue-side .player .music-waves {
    width: 350px;
  }
}
@media screen and (max-width: 992px) {
  .main .blue-side .player .music-waves {
    width: 100%;
  }
}
.main .blue-side .player .player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}
.main .blue-side .player .player-controls img {
  width: 70px;
  cursor: pointer;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player .player-controls img {
    width: 50px;
  }
}
.main .blue-side .player .player-controls .spinner {
  width: 70px;
  height: 70px;
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@media screen and (max-width: 1360px) {
  .main .blue-side .player .player-controls .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main .blue-side .player .player-controls .arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  cursor: pointer;
}
.main .blue-side .player .player-controls .arrow-container .arrow {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}
.main .blue-side .player .player-controls .arrow-container p {
  padding: 7px 5px 0px 5px;
}
.main .blue-side.with-cards {
  flex: 2;
}
.main .blue-side.with-cards .player {
  margin-left: 0;
}

@media screen and (max-width: 992px) {
  .swiper {
    display: block;
    width: 100%;
    max-width: 700px;
    margin-top: 1.2rem;
  }
}

.cards-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  place-items: center;
}
@media screen and (max-width: 992px) {
  .cards-container-grid {
    display: flex;
    gap: 0;
    padding: 0;
  }
}
@media screen and (max-height: 900px) and (min-width: 993px) {
  .cards-container-grid {
    gap: 10px;
  }
}

.artist-card,
.song-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 240px;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 1360px) {
  .artist-card,
  .song-card {
    width: 190px;
  }
}
@media screen and (max-height: 900px) and (min-width: 993px) {
  .artist-card,
  .song-card {
    width: 190px;
    height: 155px;
    padding: 10px;
  }
}
.artist-card.swiper-slide,
.song-card.swiper-slide {
  width: auto;
}
.artist-card img,
.song-card img {
  width: 160px;
  margin-bottom: 20px;
  border-radius: 15px;
}
@media screen and (max-width: 1080px) {
  .artist-card img,
  .song-card img {
    width: 150px;
  }
}
@media screen and (max-height: 900px) and (min-width: 993px) {
  .artist-card img,
  .song-card img {
    height: 100px;
    width: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 5px;
  }
}
.artist-card p,
.song-card p {
  color: #ffaaad;
  text-align: center;
}
.artist-card p.small-text,
.song-card p.small-text {
  margin-top: 5px;
  font-size: 0.7rem;
  opacity: 0.8;
}

.artist-portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  display: none;
}
@media screen and (max-width: 500px) {
  .artist-portfolio {
    margin-top: 0.5rem;
  }
}
.artist-portfolio .artist-portfolio-img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  margin: 1rem;
}
@media screen and (max-width: 992px) {
  .artist-portfolio .artist-portfolio-img {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 500px) {
  .artist-portfolio .artist-portfolio-img {
    width: 150px;
    height: 150px;
    margin: 0.5rem;
  }
}
@media screen and (max-height: 800px) {
  .artist-portfolio .artist-portfolio-img {
    width: 120px;
    height: 120px;
    margin: 0.5rem;
  }
}
.artist-portfolio .artist-songs-wrapper {
  width: 95%;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 992px) {
  .artist-portfolio .artist-songs-wrapper {
    max-height: 35vh;
  }
}
@media screen and (max-width: 500px) {
  .artist-portfolio .artist-songs-wrapper {
    max-height: 30vh;
    width: 100%;
  }
}
.artist-portfolio .artist-songs-wrapper::-webkit-scrollbar {
  width: 8px;
}
.artist-portfolio .artist-songs-wrapper::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 4px;
}
.artist-portfolio .artist-songs-wrapper::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}
.artist-portfolio .artist-songs-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: none;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr {
  width: 100%;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr .artist-song-play-btn {
  width: 15%;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr .artist-song-play-btn img {
  cursor: pointer;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr .artist-song-number {
  width: 5%;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr .artist-song-img {
  width: 15%;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr .artist-song-name {
  width: 45%;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr .artist-song-duration {
  width: 20%;
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr td {
  color: #fff;
  padding: 1rem;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 500px) {
  .artist-portfolio .artist-songs-wrapper .artist-songs-list tr td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 400px) {
  .artist-portfolio .artist-songs-wrapper .artist-songs-list tr td {
    font-size: 0.8rem;
  }
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr td img {
  width: 50px;
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .artist-portfolio .artist-songs-wrapper .artist-songs-list tr td img {
    width: 40px;
  }
}
@media screen and (max-width: 500px) {
  .artist-portfolio .artist-songs-wrapper .artist-songs-list tr td img {
    width: 30px;
  }
}
.artist-portfolio .artist-songs-wrapper .artist-songs-list tr td img.artist-song-play-btn {
  cursor: pointer;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
}
@media screen and (max-width: 600px) {
  .user-profile {
    padding: 10px;
  }
}
.user-profile .user-bio {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .user-profile .user-bio {
    width: 100%;
  }
}
.user-profile .user-bio .user-profile-img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  .user-profile .user-bio .user-profile-img {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 600px) {
  .user-profile .user-bio .user-profile-img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 500px) {
  .user-profile .user-bio .user-profile-img {
    width: 100px;
    height: 100px;
  }
}
.user-profile .user-bio .user-bio-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 500px) {
  .user-profile .user-bio .user-bio-text {
    gap: 10px;
  }
}
@media screen and (max-height: 700px) {
  .user-profile .user-bio .user-bio-text {
    gap: 10px;
  }
}
.user-profile .user-bio .user-bio-text p {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  margin-left: 0.2rem;
}
@media screen and (max-width: 600px) {
  .user-profile .user-bio .user-bio-text p {
    width: 250px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .user-profile .user-bio .user-bio-text p {
    width: 220px;
  }
}
@media screen and (max-width: 380px) {
  .user-profile .user-bio .user-bio-text p {
    width: 100%;
  }
}
.user-profile .user-bio .user-bio-text a {
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  transition: 0.3s ease;
}
@media screen and (max-width: 600px) {
  .user-profile .user-bio .user-bio-text a {
    width: 140px;
    font-size: 0.8rem;
  }
}
.user-profile .user-bio .user-bio-text a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.user-profile .user-bio .user-bio-text .user-name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}
@media screen and (max-width: 600px) {
  .user-profile .user-bio .user-bio-text .user-name {
    font-size: 1rem;
    font-weight: 600;
  }
}
.user-profile .user-playlists-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 70px 20px;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .user-profile .user-playlists-info {
    gap: 1.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .user-profile .user-playlists-info {
    flex-wrap: wrap;
    padding: 30px 20px;
  }
}
@media screen and (max-width: 600px) {
  .user-profile .user-playlists-info {
    gap: 0.8rem;
    padding: 20px 10px;
  }
}
@media screen and (max-height: 700px) {
  .user-profile .user-playlists-info {
    padding: 20px 10px;
  }
}
.user-profile .user-playlists-info .user-playlist-info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 210px;
  height: 100px;
  border: 10px double #ffaaad;
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .user-profile .user-playlists-info .user-playlist-info-block {
    font-size: 1rem;
    width: 180px;
    height: 90px;
    padding: 1rem 0.5rem;
  }
}
@media screen and (max-height: 700px) {
  .user-profile .user-playlists-info .user-playlist-info-block {
    font-size: 0.8rem;
    width: 150px;
    height: 80px;
    padding: 0.5rem 0.2rem;
  }
}
.user-profile .user-playlists-info .user-playlist-info-block span {
  font-size: 1.5rem;
  font-weight: 900;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}
@media screen and (max-width: 600px) {
  .user-profile .user-playlists-info .user-playlist-info-block span {
    font-size: 1.2rem;
  }
}
.user-profile .go-to-playlists {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}
.user-profile .go-to-playlists a {
  color: #fff;
  font-size: 1.2rem;
}/*# sourceMappingURL=global.css.map */