.swiper {
  @media screen and (max-width: 992px) {
    display: block;
    width: 100%;
    max-width: 700px;
    margin-top: 1.2rem;
  }
}

.cards-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  place-items: center;

  @media screen and (max-width: 992px) {
    display: flex;
    gap: 0;
    padding: 0;
  }

  @media screen and (max-height: 900px) and (min-width: 993px) {
    gap: 10px;
  }
}

.artist-card,
.song-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 240px;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  cursor: pointer;

  @media screen and (max-width: 1360px) {
    width: 190px;
  }

  @media screen and (max-height: 900px) and (min-width: 993px) {
    width: 190px;
    height: 155px;
    padding: 10px;
  }

  &.swiper-slide {
    width: auto;
  }

  img {
    width: 160px;
    margin-bottom: 20px;
    border-radius: 15px;

    @media screen and (max-width: 1080px) {
      width: 150px;
    }

    @media screen and (max-height: 900px) and (min-width: 993px) {
      height: 100px;
      width: 140px;
      object-fit: cover;
      margin-bottom: 5px;
    }
  }

  p {
    color: $pink-color;
    text-align: center;

    &.small-text {
      margin-top: 5px;
      font-size: 0.7rem;
      opacity: 0.8;
    }
  }
}
