.main {
  display: flex;
  width: 100wv;
  height: 100vh;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  .headphones-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 300px;

      @media screen and (max-width: 1200px) {
        width: 250px;
      }

      @media screen and (max-width: 768px) {
        width: 200px;
      }

      @media screen and (max-height: 680px) {
        width: 150px;
      }

      @media screen and (max-height: 500px) {
        display: none;
      }
    }
  }

  .pink-side {
    flex: 1;
    background-color: $pink-color;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.5s ease;

    @media screen and (max-width: 992px) {
      justify-content: center;
      text-align: center;
      padding: 0.1rem 0.5rem;
    }

    &.dark {
      background-color: $dark-pink-color;
    }

    .go-back-arrow {
      float: left;
      text-align: left;
      width: 95%;
      color: $white-color;
      cursor: pointer;
      display: none;
    }

    &.with-heading {
      flex-direction: column;
      padding-top: 4.5rem;
      flex: 3;
      h3 {
        color: $white-color;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 600;
      }
    }

    h2 {
      color: $white-color;
      text-transform: uppercase;
      font-size: 5rem;
      font-weight: 600;
      padding-left: 10%;

      @media screen and (max-width: 992px) {
        padding-left: 0;
      }

      @media screen and (max-width: 768px) {
        font-size: 4rem;
      }

      @media screen and (max-height: 500px) {
        font-size: 2rem;
        padding-top: 3.5rem;
      }
    }
  }

  .blue-side {
    flex: 1;
    background-color: $blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .player {
      width: 500px;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      margin-left: 15%;

      @media screen and (max-width: 1360px) {
        width: 400px;
        margin-left: 20%;
      }

      @media screen and (max-width: 1080px) {
        width: 350px;
      }

      @media screen and (max-width: 992px) {
        margin-left: 0;
        padding-top: 1.5rem;
        width: 50%;
      }

      @media screen and (max-width: 768px) {
        width: 60%;
      }

      @media screen and (max-width: 600px) {
        width: 80%;
      }

      @media screen and (max-width: 420px) {
        width: 90%;
      }

      h5 {
        font-size: 1.5rem;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;

        @media screen and (max-width: 1360px) {
          font-size: 1.2rem;
        }
      }

      p {
        font-size: 1.2rem;
        padding: 0.5rem 1.5rem;

        @media screen and (max-width: 1360px) {
          font-size: 1rem;
        }
      }

      .music-waves {
        width: 500px;

        @media screen and (max-width: 1360px) {
          width: 400px;
        }

        @media screen and (max-width: 1080px) {
          width: 350px;
        }

        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }

      .player-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.5rem;

        img {
          width: 70px;
          cursor: pointer;

          @media screen and (max-width: 1360px) {
            width: 50px;
          }
        }

        .spinner {
          width: 70px;
          height: 70px;
          border: 7px solid rgba(0, 0, 0, 0.1);
          border-top-color: #3498db;
          border-radius: 50%;
          animation: spin 1s linear infinite;

          @media screen and (max-width: 1360px) {
            width: 50px;
            height: 50px;
            border: 5px solid rgba(0, 0, 0, 0.1);
            border-top-color: #3498db;
          }
        }

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }

        .arrow-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 3rem;
          cursor: pointer;

          .arrow {
            color: $white-color;
            font-size: 3rem;
            font-weight: 900;
          }

          p {
            padding: 7px 5px 0px 5px;
          }
        }
      }
    }

    &.with-cards {
      flex: 2;

      .player {
        margin-left: 0;
      }
    }
  }
}
