body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;

  .navbar {
    width: 100%;
    display: flex;
    position: absolute;
    padding: 0.7rem 3rem;

    &.bg-dark {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }

    a {
      color: $pink-color;
      transition: 0.3s ease;

      &:hover {
        color: $blue-color;
      }
    }

    .logo {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-family: Impact, "Arial Narrow Bold", sans-serif;
      font-size: 1.5rem;

      span {
        color: $orange-color;
        background: $gradient-pink;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
      }

      &:hover {
        color: $blue-color;
      }

      img {
        width: 40px;
      }
    }

    .nav-links {
      width: 100%;
      display: flex;
      justify-content: end;
      gap: 20px;
      padding-top: 0.5rem;

      @media screen and (max-width: 991px) {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
      }
    }
  }
}
